@page
@model blog_pt16.Pages.Category.CreateModel
@{
	ViewData["Title"] = "Create";
}

<div class="container my-5">
    <div class="row">
        <div class="d-flex justify-content-between mb-2">
            <h3>Create Category</h3>
            <a class="btn btn-success" asp-page="/category/index" role="button">Back</a>
        </div>
        <!-- Blog entries-->
        <div class="col-lg-12">
            <div class="card p-3">
                <div asp-validation-summary="All"></div>
                <form method="POST">
                    <div class="mb-3">
                        <label asp-for="CategoryModel.Name" class="form-label">Category</label>
                        <input asp-for="CategoryModel.Name" type="text" class="form-control @Model.isNameError" />
                        <span asp-validation-for="CategoryModel.Name" class="invalid-feedback"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>